html,
body {
   font-family: 'Century Gothic', sans-serif;
   margin:0;
   padding:0;
   height:100%;
}
header {
    background-color:rgb(68, 66, 66);
    color: white;
    font-size: 24px;
}

#logo {
    width: 65px;
}
h1 {
    position: relative;
    text-align: center;
}
h2 {
    position: relative;
    padding: 1em;
    text-decoration: underline;
}

h3, p, img {
    padding: .5em;
}

a {
    text-decoration: none;
    color: black
}

h3 {
    text-decoration-line: underline;
}

nav {
    text-decoration: none;
}

h4 {
    padding: 1.5em;
    font-size: 13px;
    display: inline;
}

div > img {
    /* box-shadow: 9px 8px 5px darkolivegreen; */
    display: block;
    width:45%;
    margin: auto ; 
}

label, 
input,
textarea,
#description {
    font-size: 1em;
    /* margin: 1em; */
    display: block;
    width:80%;
    margin: auto ;
    margin-bottom: .5em;
    margin-top: .5em;
    border-radius: .5em;
    padding: .5em;
    font-family: 'Century Gothic', sans-serif;
  }

footer{
    background-color: grey;
    position: fixed;bottom:0;left:0;right:0;height:30px;
}