html {
    font-family: 'Lucida Sans Regular' sans-serif;
}
header {
    background-color:rgb(68, 66, 66);
    color: white;
    font-size: 24px;
}

#logo {
    width: 65px;
}
h1 {
    position: relative;
    text-align: center;
}
h2 {
    position: relative;
    padding: 1em;
    text-decoration: underline;
}

h3, p, img {
    padding: 1em;
}

a {
    text-decoration: none;
    color: black
}

h3 {
    text-decoration-line: underline;
}

nav {
    text-decoration: none;
}

h4 {
    padding: 1.5em;
    font-size: 13px;
    display: inline;
}

div > img {
    /* box-shadow: 9px 8px 5px darkolivegreen; */
    display: block;
    width:45%;
    margin: auto ; 
}

label, 
input,
textarea {
    font-size: 1em;
    /* margin: 1em; */
    display: block;
    width:80%;
    margin: auto ;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: .5em;
    padding: .5em;
  }

footer{
    background-color: grey;
    height: 4em;
}