.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.book-list {
    position: relative;
    display: block;
    width:50%;
    margin: auto ;    
    margin-bottom: 5em;

}

.views {
    float: right;
}
#form-button,
.detail-button {
    float: right;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;

}
